/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

.card-text > li:last-child > div:last-child > p:last-child {
  margin-bottom: 0;
}
